<%- include("./partials/header.ejs")  %>


<div class="container error-container">
    <h1 class="error">OOpps Something went wrong</h1>
   <div class="row">
    <div class="col">
        <p class="error" style="font-size: 1.25rem;">please try again something went wrong in the site. This may be due to improper search,so We kindly request you to search again by clicking the button.It may also be due to invalid login...</p>
    </div>
   <div class="col">     
    <a href="/secrets"><button class="btn btn-primary">Go Back to Main Page...</button></a>
   </div></div>
</div>
<%- include("./partials/footer.ejs")  %>