<%- include('partials/header') %>


<div class="jumbotron centered home-page">
  <div class="container">
    <!-- <i class="fa fa-sharp fa-light fa-books fa-beat fa-6x" style="color: #1f3551;"></i> -->
    <i class="fa-solid fa-book fa-bounce fa-6x"></i>
    <img src="images/rsj.png" alt="" height="35%">
    <h1 class="display-3">E Book Site</h1>
    <p class="secret-text">Do Search your book here...</p>
    <hr>
    <!-- <a class="btn btn-light btn-lg" href="/register" role="button">Register</a> -->
    <a class="btn btn-dark btn-lg float-left" href="/login" role="button">Login</a>
    <div>
    <img src="https://w0.peakpx.com/wallpaper/316/433/HD-wallpaper-books-library-shelves-lighting-thumbnail.jpg" alt="" class="home-img">
    </div>
  </div>
</div>

<%- include('partials/footer') %>
