<%- include('partials/header') %>
<a class="btn btn-light btn-lg logout" href="/logout" role="button">Log Out</a>
<div class="container">
  <div class="row">
    <div class="col-lg-3 secrets">
      <div class="card my-3" style="width: 18rem;"> 
              <div class="card-header">         
                  <h5 class="card-title">Welcome <%= currentUser %></h5> 
              </div>
              <div style="align-items: center;" class="card-body">
                <h5 class="card-title"><a href="/book" class="btn btn-danger">Search</a></h5>
                <p>you can start searching your books here just tap it.</p>
              </div>
            </div>
      </div>
      <div class="col-lg-3 secrets">
          <div class="card my-3" style="width: 18rem;">
              <div class="card-header">
                  <h5 class="card-title">Welcome</h5> 
              </div>
              <div style="align-items: center;" class="card-body">
                <h5 class="card-title"><a href="/contact" class="btn btn-primary">Query</a></h5>
                <p>you can drop your suggesstions , complaints and queries here.</p>
              </div>
            </div>
      </div>
      <div class="col-lg-3 secrets">
          <div class="card my-3" style="width: 18rem;">
              <div class="card-header">
                  <h5 class="card-title">Welcome</h5> 
              </div>
              <div style="align-items: center;" class="card-body">
                <h5 class="card-title"><a href="/cart/<%=currentUser%>" class="btn btn-dark">Cart</a></h5>
                <p>you can see your books which you added...</p>
              </div>
            </div>
      </div>
      </div>
  </div>
</div>

<div class="container" style="align-items: center;">
  <div class="row">
    <div class="col-lg secrets">
      <div class="card my-3" style="width: 18rem;">
          <div class="card-header">
              <h5 class="card-title">Welcome</h5> 
          </div>
          <div style="align-items: center;" class="card-body">
            <h5 class="card-title"><a  href="/admin" class="btn btn-primary">Admin</a></h5>
            <p>if you are admin you can proceed here </p>
          </div>
        </div>
  </div>
</div>
                

<%- include('partials/footer') %>
